* {
    padding: 0;
    margin: 0;
    transition: .2s ease;
    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 4px;
        &:hover {
            background: #555;
        }
    }
    box-sizing: border-box;
    font-family: Aeoniktrial, sans-serif;;
}

header {
    .navbar {
        background-color: #fff;
        border-bottom: 1px solid rgb(238, 238, 238);
        font-size: .95rem;
        color: #5f5f5f;
        font-weight: 600;
        // height: 75px;
        position: relative;

        .container {
            position: sticky;
            right: 0;
            left: 0;
            top: 0;
            // width: 100%;
            z-index: 9999;
            background-color: #fff;
        }

        .navbar-brand {
            padding: 0;
            a {
                
                padding: 0;
            }
            .logo {
                font-size: 28px;
                color: #1f305d;
                font-weight: bold;
                user-select: none;
            }
            img {
                height: 60px;
                color: #1f305d;
                
            @media (max-width: 1200px) {
                width: 60px;
            }
            }
        }

        .end-btns-form {
            .btn-outline {
                color: #000;
                border: 1px solid #000;
                border-radius: 7px;
                font-weight: 600;
                padding: 10px 20px;
                font-size: 1.1rem;
                margin-right: 15px;

                &:hover {
                    background-color: #f2f1f1;
                }

                @media (max-width: 1200px) {
                    margin-right: 12px;
                    padding: 8px 14px;
                }
            }
            .btn-fill {
                border: #2467e3;
                background-color: #2467e3;
                color: #fff;
                font-weight: 600;
                border-radius: 7px;
                padding: 10px 20px;
                font-size: 1.1rem;

                &:hover {
                    background-color: #3373e9;
                }

                @media (max-width: 1200px) {
                    padding: 8px 14px;
                }
            }
        }

        .dropdown-menu-1 {
            display: none;
            @media (max-width: 991px) {
                display: none;
            }
            
            .card-herder {
                font-size: .7rem;
                letter-spacing: 1px;
                font-weight: 600;
                color: #b9b9b9;
            }

            a {            
                .card-body {
                    .listed {
                        .icon-container {
                            li {
                                aspect-ratio: 1/1;
                                height: 40px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 20px;
                                color: #273b70;
                                list-style: none;
                                background-color: #f2f4f7;
                                span {
                                    height: 25px;
                                    aspect-ratio: 1/1;
                                    border: 1.8px solid;
                                    border-color: #4d5d78;
                                    font-size: 14px;
                                    text-align: center;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-weight: 600 !important;
                                }
                            }
                        }
                        .texts-container {
                            color: #171f2f;
                            .texts-heading {
                                font-size: .85rem;
                                font-weight: 600;
                            }
                            .texts {
                                color: #8592ad;
                                font-size: .7rem;
                                font-weight: 600;
                            }
                        }
                    }
                } 

                &:hover {
                    background-color: #f8f8f8;
                    cursor: default;
                }
            }
            
        }
        .dropdown-menu-2 {
            display: none;
            @media (max-width: 991px) {
                display: block;
            }
        }
    }

    .absolute-dropdown {
        position: absolute;
        width: 100%;
        background-color: white;
        // height: 50px;
        transition: .5s ease;
        opacity: 0;
        animation: .2s absolute-dropdown ease forwards;
        // display: none;

        @media (max-width: 991px) {
            display: none;
        }

        .card-herder {
            font-size: .7rem;
            letter-spacing: 1px;
            font-weight: 600;
            color: #b9b9b9;
        }

        a {            
            .card-body {
                .listed {
                    .icon-container {
                        li {
                            aspect-ratio: 1/1;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 20px;
                            color: #273b70;
                            list-style: none;
                            background-color: #f2f4f7;
                            span {
                                height: 25px;
                                aspect-ratio: 1/1;
                                border: 1.8px solid;
                                border-color: #4d5d78;
                                font-size: 14px;
                                text-align: center;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-weight: 600 !important;
                            }
                        }
                    }
                    .texts-container {
                        color: #171f2f;
                        .texts-heading {
                            font-size: .85rem;
                            font-weight: 600;
                        }
                        .texts {
                            color: #8592ad;
                            font-size: .7rem;
                            font-weight: 600;
                        }
                    }
                }
            } 

            &:hover {
                background-color: #f8f8f8;
                cursor: default;
            }
        }
    }
    @keyframes absolute-dropdown {
        0% {
            opacity: 1;
        }
        
        100% {
            opacity: 0;
            display: none;
        }
    }

    .absolute-dropdown-2 {
        transition: .5s ease;
        display: block;
        animation: .5s absolute-dropdown-2-animation ease forwards;
        @media (max-width: 991px) {
            display: none;
        }
    }
    @keyframes absolute-dropdown-2-animation {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    ul {
        // display: flex;
        // justify-content: end;
        // text-align: end;

        .dropdown-toggle1 {
            position: relative;
            @media (min-width: 992px) {
                left: 600%;
            }
            @media (min-width: 1140px) {
                left: 600%;
            }
            @media (min-width: 1201px) {
                left: 730%;
            }
            @media (min-width: 1399px) {
                left: 850%;
            }
        }
    }
}

.hero {
    background-color: #1f305d;
    background-image: url("data:image/svg+xml,%3Csvg width='76' height='18' viewBox='0 0 76 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32 18c-2.43-1.824-4-4.73-4-8 0-4.418-3.582-8-8-8H0V0h20c5.523 0 10 4.477 10 10 0 4.418 3.582 8 8 8h20c4.418 0 8-3.582 8-8 0-5.523 4.477-10 10-10v2c-4.418 0-8 3.582-8 8 0 3.27-1.57 6.176-4 8H32zM64 0c-1.67 1.256-3.748 2-6 2H38c-2.252 0-4.33-.744-6-2h32z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    position: relative;
    background-position: center;
    // height: 95vh;

    @media (max-width: 767px) {
        // height: 70vh;
    }

    .row {
        padding: 60px 0;
    }

    .img-container {
        background-color: rgba(37, 58, 114, 0.774);
        // background-image: url(https://www.lifecarduniversity.com/images/Frame-82.svg);
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-position: center;
        position: absolute;
    }
    .hero-text-container {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        @media (max-width: 991px) {
            // justify-content: center;
        }

        .col-lg-5 {
            @media (max-width: 991px) {
                margin-top: 40px;
            }
        }

        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            max-width: 400px;
            @media (max-width: 991px) {
                height: 300px;
                width: 300px;
                aspect-ratio: 1/1;
            }
            @media (max-width: 575px) {
                height: 200px;
                width: 200px;
                aspect-ratio: 1/1;
            }
        }

        .text-heading {
            color: #fff;
            font-size: 80px;
            line-height: 80px;
            font-weight: 600;
            margin-bottom: 20px;

            @media (max-width: 1140px) {
                font-size: 60px;
                line-height: 70px;
                // margin-top: 50px;
            }
            
            @media (max-width: 767px) {
                font-size: 48px;
                line-height: 50px;
                // margin-top: 100px;
            }
            @media (max-width: 575px) {
                font-size: 38px;
                line-height: 40px;
            }
        }
        
        .texts {
            color: #fff;
            margin-bottom: 34px;
            font-family: Aeonik, sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 25px;
            @media (max-width: 767px) {
                font-size: 1.1rem;
                font-weight: 400;
            }
            @media (max-width: 575px) {
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 50px;
            }
        }
        .hero-btn-links {
            width: 100%;

            .btn-outline {
                color: #fff;
                border: 1px solid #fff;
                background-color: rgba(255, 255, 255, .27);
                font-weight: 600;
                padding: 14px 30px;
                border-radius: 7px;
                text-decoration: none;
                font-size: 1.1rem;

                &:hover {
                    background-color: rgba(163, 163, 163, 0.27);
                }

                @media (max-width: 1200px) {
                    padding: 13px 27px;
                }
                @media (max-width: 575px) {
                    width: 100%;
                }
            }
            .btn-fill {
                border: #2467e3;
                background-color: #2467e3;
                color: #fff;
                font-weight: 600;
                padding: 14px 30px;
                text-decoration: none;
                font-size: 1.1rem;
                border-radius: 7px;

                &:hover {
                    background-color: #3373e9;
                }

                @media (max-width: 1200px) {
                    padding: 13px 27px;
                }
                @media (max-width: 575px) {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.premium {
    margin-top: 80px;
    .premium-header {
        color: #8617cf;
        text-align: center;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        @media (max-width: 575px) {
            letter-spacing: .2em;
            font-size: 11px;
        }
    }
    .premium-lg-header {
        color: #242424;
        font-size: 60px;
        text-align: center;
        letter-spacing: -.02em;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 10px;
        font-size: 60px;
        line-height: 1.2;
        font-weight: bold;
        @media (max-width: 991px) {
            font-size: 45px;
        }
        @media (max-width: 767px) {
            font-size: 35px;
            line-height: 1.1;
        }
    }
    
    .premium-sm-header {
        color: #8592ad;
        letter-spacing: -.02em;
        margin-bottom: 0;
        font-family: Aeonik, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 29px;
        text-align: center;
        @media (max-width: 575px) {
            font-size: 16px;
            line-height: 26px;
        }
    }


    .row {
        margin-top: 80px;
        .card {
            border-radius: 12px;
            border: 1px solid rgb(232, 232, 232);
            .card-header {
                // margin-top: 20px;
                justify-content: center;
                display: flex;
                height: 150px;
                // padding: 0;
                overflow: hidden;
                @media (max-width: 575px) {
                    height: 300px;
                    width: 100%;
                }
                @media (max-width: 450px) {
                    height: 200px;
                    width: 100%;
                }
                li {
                    width: 100%;
                    height: 100%;
                    font-size: 20px;
                    // padding: 22px;
                    list-style: none;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #ffffff;
                    img {
                        width: 100%;
                        height: 100%;
                        
                    }
                }
                li {
                }
            }
            .card-body {
                .lg-number {
                    font-size: 20px;
                    font-weight: bolder;
                    @media (max-width: 400px) {
                        font-size: 16px;
                    }
                }
                .card-sm-texts {
                    color: #8592ad;
                    font-weight: 400;font-size: 16px;
                }
            }
        }
    }
}

.socials {
    margin: 60px 0;
    .row {
        .h2 {
            margin-bottom: 30px;
            font-size: 32px;
            font-weight: bolder;
            color: #414346;
            @media (max-width: 767px) {
                font-size: 24px;
            }
            @media (max-width: 400px) {
                font-size: 20px;
            }
        }
        .col-6 {
            margin-bottom: 40px;
            a {
                border: .1rem solid #dee2e6;
                padding: 20px 0;
                text-decoration: none;
                button {
                    // display: flex;
                    font-size: 16px;
                    font-weight: 600 !important;
                    letter-spacing: 1px;
                    @media (max-width: 400px) {
                        font-size: 14px;
                    }
                    span {
                        font-size: 20px;
                        @media (max-width: 400px) {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}


.footer {
    .second-row {
        padding: 0 15px 21px;
    }


    .copyright-and-powered-container {
        display: flex;
        padding: 20px 0;
        font-size: 13px;
            @media (max-width: 400px) {
                display: block;
            }

        .powered-by {
            display: flex;
            align-items: center;
            img {
                width: 30px;
            }
            @media (max-width: 400px) {
                margin-top: 10px;
            }
        }
    }
}